@font-face {
    font-family: 'Univers LT Std';
    src: url('UniversLTStd-Light.eot');
    src: url('UniversLTStd-Light.eot?#iefix') format('embedded-opentype'),
        url('UniversLTStd-Light.woff2') format('woff2'),
        url('UniversLTStd-Light.woff') format('woff'),
        url('UniversLTStd-Light.ttf') format('truetype'),
        url('UniversLTStd-Light.svg#UniversLTStd-Light') format('svg');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

